.subject-tabs-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  height: 100%;
  background-color: #ededee;
  padding: 40px 0;
  width: 90px;
  z-index: 200;
}

.tab {
  writing-mode: vertical-rl;
  text-align: center;
  height: 150px;
  width: 60%;
  line-height: 55px;
  color: #b1b1b1;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 10px;
  margin-bottom: -10px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  background-color: #040a44;
}

.add-tab {
  writing-mode: vertical-rl;
  text-align: center;
  height: 45px;
  width: 45%;
  line-height: 30px;
  font-size: 18px;
  color: #4e4e4e;
  cursor: pointer;
  margin-top: 10px;
}

.add-tab-icon:hover {
  background-color: #b1b1b1;
}

.add-tab-icon {
  background-color: #83c7f1;
  font-size: 24px;
  cursor: pointer;
  color: #4e4e4e;
  transition: color 0.3s ease;
}

.delete-button {
  writing-mode: vertical-rl;
  text-align: center;
  height: 45px;
  width: 45%;
  line-height: 30px;
  font-size: 18px;
  color: #4e4e4e;
  cursor: pointer;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: #b1b1b1;
}

.tab.active {
  transform: scale(1.07);
}

.tab.active .delete-button {
  display: inline;
}

.delete-button{
  position: absolute;
  border: none;
  color:#666;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 20px;
}

.delete-button:hover{
  opacity: 0.5;
}

.subject-tabs-container {
  grid-area: subject-tabs;
}